<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>com.apple.ctk.aid</key>
			<array>
				<string>A000000077010800070000FE00000100</string>
			</array>
			<key>com.apple.ctk.class-id</key>
			<string>ee.ria.EstEIDTokenApp.EstEIDToken</string>
			<key>com.apple.ctk.driver-class</key>
			<string>EstEIDTokenDriver</string>
			<key>com.apple.ctk.token-type</key>
			<string>smartcard</string>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.ctk-tokens</string>
	</dict>
</dict>
</plist>
